* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  width: 60rem;
  height: 60rem;
  margin-left: 20%;
}

.game-pos{
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
}

.square{
  width: 33.3%;
  height: 100%;
  border-right: 0.2rem solid #333;
  border-bottom: 0.2rem solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  cursor: pointer;
}

.square:last-child {
  border-right: none;
}

.square-bottom:last-child {
  border-right: none;
}

.square-bottom{
  width: 33.3%;
  height: 100%;
  border-right: 0.2rem solid #333;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
  cursor: pointer;
}

.buttons {
  width: 60rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.buttons button {
  border-radius: 1rem;
  padding: 2rem;
  border: none;
  cursor: pointer;
  background-color: #ff6b6b;
  color: #FFF;
}

.buttons p, .buttons strong{
  font-size: 2.5rem;
}

.victory {
  color: #5c7cfa;
}

.gain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.points {
  position: absolute;
  top: 5%;
  right: 18.5%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 10px;
}

.placar {
  width: 100%;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
}

.player-A {
  color: #5c7cfa;
}

.player-B {
  color: #ff6b6b;
  margin-bottom: 10px;
}

.me {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 5px;
  background-color: rgb(207, 205, 205);
}
